body {
  --wild-blue-yonder: #8ea4d2ff;
  --glaucous: #6279b8ff;
  --independence: #49516fff;
  --hookers-green: #496f5dff;
  --shiny-shamrock: #4c9f70ff;
  --black-olive: #37392eff;
  --blue-sapphire: #19647eff;
  --verdigris: #28afb0ff;
  --pale-silver: #ddcecdff;
  --isabelline: #eee5e5ff;
}

body,
button {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  background-color: var(--isabelline);
}

h1 {
  color: var(--independence);
}

button {
  background-color: var(--glaucous);
}
